@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f4;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-sans text-lg leading-snug antialiased;
}

@layer utilities {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-bold uppercase leading-none;
  }

  h2 {
    @apply text-4xl lg:text-5xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-xl;
  }

  .page-container {
    @apply max-w-[120rem] px-5 md:px-6;
  }
}
